{% extends 'admin.html' %}
{% block title %}
    Admin
{% endblock title %}

{% block body %}
<h2>Find Sponsors</h2>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sponsor, email in sponsors %}
            <tr>
                <td>{{ sponsor.company_name }}</td>
                <td>{{ email }}</td>
                <td>
                    <form method="POST" action="{{ url_for('toggle_flag_sponsor', sponsor_id=sponsor.bloom_data_id) }}">
                        {% if sponsor.flagged %}
                            <button type="submit" class="btn btn-danger">Unflag</button>
                        {% else %}
                            <button type="submit" class="btn btn-warning">Flag</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
